<ion-card>

  <div class="producto-more">
      <ion-button fill="clear"
                  (click)="lanzarMenu()">
                <ion-icon color="dark" slot="icon-only" name="more"></ion-icon>
        </ion-button>

  </div>


  <img src="{{ producto.img }}"/>
  <ion-card-content>
    <ion-card-title>
      {{ producto.name }}
    </ion-card-title>

    <ion-card-subtitle color="warning">
      {{producto.precio}}
    </ion-card-subtitle>
    

    <p>
      {{ producto.content }}
    </p>

    <div class="boton-comercios">

      <ion-button mode="ios" 
                  size="small" 
                  expand="block" 
                  fill="solid" 
                  routerLink="/comercios" 
                  color="success">{{producto.comercio}}
      </ion-button>
    
    </div>

  </ion-card-content>
</ion-card>