<ion-header mode="ios"
 no-border>
  <ion-toolbar color="warning">
    <img  class="image-logo" src="../../../assets/assets/slides/Alakazam.svg">
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
 
    

    <ion-grid>
      <ion-row>
        <ion-col col-6>

          <ion-card color="light" mode="ios" routerLink="/productos">
            <ion-img src="../assets/assets/slides/052-coupon-1.svg"></ion-img>
          <ion-card-header>
              <ion-card-subtitle text-center> <ion-text color="dark">Ofertas</ion-text></ion-card-subtitle>
              <ion-card-content></ion-card-content>
          </ion-card-header>
        </ion-card>
        </ion-col>

        <ion-col col-6>
          <ion-card color="light" mode="ios" routerLink="/comercios">
               <ion-img src="../assets/assets/slides/008-shop.svg"></ion-img>
            <ion-card-header>
                <ion-card-subtitle text-center> <ion-text color="dark">Comercios</ion-text></ion-card-subtitle>
              <ion-card-content></ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
          <ion-col col-6>
  
            <ion-card color="light" mode="ios" routerLink="/tabs/tabs/tab3">
                <ion-img src="../assets/assets/slides/003-shopping-list.svg"></ion-img>
              <ion-card-header>
                <ion-card-subtitle text-center> <ion-text color="dark">Lista de Compras</ion-text></ion-card-subtitle>
                </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  
            </ion-card>
          </ion-col>
  
          <ion-col col-6>
            <ion-card color="light" mode="ios" routerLink="../scanner" >
              <ion-img src="../assets/assets/slides/013-barcode-1.svg"></ion-img>
            <ion-card-header>
                <ion-card-subtitle text-center> <ion-text color="dark">Escaner</ion-text></ion-card-subtitle>
              </ion-card-header>
                <ion-card-content>
                </ion-card-content>
                
          </ion-card>
          </ion-col>
  
  
        </ion-row>
      </ion-grid>

      
      
</ion-content>



  
  
