
ion-card {
    width: 85%;
    height: 85%;
}

ion-img {
    position: relative;
    top: 20px;
    width: 50%;
    height: 50%;

    display: block;
        margin-left: auto;
        margin-right: auto;
}


ion-text {
    position: relative;
    top: 20px;
}


.botones {
    width: 60%;
    height: 60%;
}

.shadow-red{
    box-shadow: 0px 15px 65px rgba(78, 78, 78, 0.924);
    border-radius: 100px;
    width: 65%;
    
}