<ion-header mode="ios"
 no-border>
  <ion-toolbar color="secondary">
     
      <ion-button (click)="closeApp()" size="small" slot="end" color="light" fill="clear" mode="ios"  class="salir">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    <img  class="image-logo" src="../../../assets/assets/slides/Alakazam.svg">
    </ion-toolbar>
  
</ion-header>

<ion-content color="light">
 
    

    <ion-grid>
      <ion-row>
        <ion-col size-xs="6" size="6">

          <ion-card color="light" mode="ios" routerLink="/tabs/tabs/tab1">
            <ion-img src="../assets/assets/slides/productos-todos.svg"></ion-img>
          <ion-card-header>
              <ion-card-subtitle text-center> <ion-text color="dark">Productos</ion-text></ion-card-subtitle>
              <ion-card-content></ion-card-content>
          </ion-card-header>
        </ion-card>
        </ion-col>

        <ion-col size-xs="6" size="6">
          <ion-card color="light" mode="ios" routerLink="/comercios">
               <ion-img src="../assets/assets/slides/productos-comercios.svg"></ion-img>
            <ion-card-header>
                <ion-card-subtitle text-center> <ion-text color="dark">Comercios</ion-text></ion-card-subtitle>
              <ion-card-content></ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
          <ion-col size-xs="6" size="6">
  
            <ion-card color="light" mode="ios" routerLink="/tabs/tabs/tab3">
                <ion-img src="../assets/assets/slides/productos-listas.svg"></ion-img>
              <ion-card-header>
                <ion-card-subtitle text-center> <ion-text color="dark">Lista de Compras</ion-text></ion-card-subtitle>
                </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  
            </ion-card>
          </ion-col>
  
          <ion-col size-xs="6" size="6">
            <ion-card color="light" mode="ios" routerLink="/escaner" >
              <ion-img src="../assets/assets/slides/productos-ofertas.svg"></ion-img>
            <ion-card-header>
                <ion-card-subtitle text-center> <ion-text color="dark">Ofertas</ion-text></ion-card-subtitle>
              </ion-card-header>
                <ion-card-content>
                </ion-card-content>
                
          </ion-card>
          </ion-col>
  
  
        </ion-row>
      </ion-grid>

      
      
</ion-content>



  
  
